# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
.env
.venv
env/
venv/

# IDE project settings
.idea/
.vscode/

# Logs
logs/
*.log

# Chrome webdriver
chromedriver.exe
chromedriver

# Files
__pycache__/
logs/
estadisticas_todos_partidos.csv
estadisticas_partido.csv
.venv/
estadisticas_equipos_por_partido.csv
perfiles_jugadores.csv
calculate_team_stats.py
web (test)/
shot graph/
extract_play_by_play.py

# PySpark output directories
resultados_avanzados_por_partido.csv/
*.crc

# Analysis files
performance_improvements.md
improved_performance.md